<div class='country'>
  <h1><img src='{{flags.svg}}' width='30' /> {{name.official}}</h1>
  <p class='info'><strong>Capital: </strong>{{capital}}</p>
  <p class='info'><strong>Population: </strong> {{population}}</p>
  <p class='info'><strong>Languages: </strong>
    {{#each languages}} {{this}} {{/each}}</p>

</div>